/*Tipografía base*/
h1,h2{
    font-family: $playfair;
    font-weight: $font-black-italic;
    font-style: $italic;
}

h1{
    font-size: $xx-large;
}
h2{
    font-size: $x-large;
}


h3{
    font-family: $playfair;
    font-weight: $font-regular;
    font-size: $large;
}
p{
    font-family: $roboto;
    font-weight: $font-light;
    font-size: $medium;
}

.a__texto{
    font-family: $roboto;
    font-weight: $font-regular;
    color: $fuzzy-wuzzy !important
}