// color scheme

//Primera paleta de color
$white: #FFF;
$platino: #E6E7E7;
$light-gray: #D1D1D1;

//Segunda Paleta de color
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ECBCBA;

//Tercera paleta de color
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//Tipografía

//Familia de fuentes
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//Pesos de fuente
$font-black-italic: 900;
$font-regular: 400;
$font-light: 300;

//Tamaños de fuente
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;   

//estilos de fuente
$italic: italic;